/.vs/*
/Mutilple/Extensions/DuiLib/x64/Debug/*
/Mutilple/Extensions/DuiLib/x64/Release/*
/Mutilple/x64/Debug/*
/Mutilple/x64/Release/*
/x64/Debug/DuiLib.lib
/x64/Debug/DuiLib.pdb
/x64/Debug/Mutilple.exe
/x64/Debug/Mutilple.exp
/x64/Debug/Mutilple.lib
/x64/Debug/Mutilple.pdb
/x64/Release/DuiLib.lib
/x64/Release/DuiLib.pdb
/x64/Release/Mutilple.exe
/x64/Release/Mutilple.exp
/x64/Release/Mutilple.lib
/x64/Release/Mutilple.pdb
/x64/Release/Data/*
/x64/Release/TechINI/*
/Mutilple/Extensions/freetype/lib/cmake/freetype/freetype-config.cmake
/Mutilple/Extensions/freetype/lib/cmake/freetype/freetype-config-release.cmake
/Mutilple/Extensions/freetype/lib/cmake/freetype/freetype-config-version.cmake
/Mutilple/Extensions/freetype/lib/pkgconfig/freetype2.pc
/x64/Debug/LastParam.ini

/x64/Debug/Data/*
User.db
data.db
/x64/*/log/*
/build
/pack-installer.iss
/output

Mutilple/Version.h
/Mutilple/res/Theme.zip
/x64/*/DB/*
/.vscode/settings.json
/x64/**/*.db
/x64/*/template
newVersion.exe
